@font-face {
    font-family: Ametist;
    src: url(fonts/Ametist.ttf);
}

/* Main */
.jumbotron {
    background-image: url(images_1/bg_1.jpg);
    background-attachment: fixed;
    background-position: 0 0;
    background-repeat: repeat;
}

.header {
    margin-top: -40px;
    margin-bottom: 10px;
}

h1 {
    font-family: "Ametist", cursive;
    font-size: 36px !important;
}

p {
    font-family: "Jura", "san-serif";
}

/* Navigation */
#navbar {
    margin-top: -6px;
}

#navbar > ul > li > a {
    font-family: "Ametist", cursive;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: #e6e0b7;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 22px;
    background-color: #b2171d;
    border-right: 1px solid white;
    margin-top: 50px;
    border-bottom: 4px solid #f1f1eb;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

a:hover {
    text-decoration: none;
    color: white;

}

/* Content */
.index_content {
    background-color: #fffff5;
    border-radius: 10px;
    border: 1px solid #bdb09d;
    margin-top: 20px;
}

.index_content > p {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-family: "Jura", "san-serif";
}

.content {
    background-color: #fffff5;
    border-radius: 10px;
    border: 1px solid #bdb09d;
    margin-top: 170px;
}

.content_text {
    margin-top: 50px;
}

#main_img {
    text-align: center;
    display:block;
    margin:0 auto;
    border: 1px solid #bdb09d;
    border-radius: 50px;
    height: 500px;
}

#pages-img_1 {
    width: 300px;
    float: left;
    margin: 30px 30px 10px 20px;
    border: 1px solid #bdb09d;
    border-radius: 30px;
}

.pages-img {
    width: 300px;
    float: left;
    margin: 20px 30px 30px 20px;
    border: 1px solid #bdb09d;
    border-radius: 30px;
}

/* Radial Out */
.hvr-radial-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
    background: white;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0,3s;
    transition-duration: 0,3s;

}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    font-family: "Jura", "san-serif";
    margin-top: 15px;

}
.hvr-grow:hover {
    background-color: white;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
















