.jumbotron {
    background-image: url(images_1/bg_1.jpg);
    background-attachment: fixed;
    background-position: 0 0;
    background-repeat: repeat;
}
.header {
    margin-top: -40px;
    margin-bottom: -18px;
}
.content {
    background-color: white;
    border-radius: 10px;
}
/* Navigation */
ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;

}

li {
    float: left;
}
li a {
    display: block;
    color: #e6e0b7;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-family: 'Marck Script', cursive;
    font-size: 22px;
    background-color: #bc000f;
    border-right: 1px solid grey;
    margin-top: 50px;
}

a:hover {
    text-decoration: none;
    color: black;
}
.navbar {

}
